<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>

    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
   <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner">
     <!--- <h1 class="project-name">{{ page.title | default: site.title | default: "Arun Bahl" }}</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: "Life" }}</h2>--->
     
<style>
body {
  background-image: url("good.jpg");
  background-repeat: no-repeat;
  background-position: right top;
  margin-right: 200px;
  background-attachment: fixed;
}
</style>
     
    </main>
    <style>
/* This stylesheet sets the width of all images to 100%: */
img {
  width: 100%;
}
</style>
<body>
	<img src = "https://bookie164.github.io/Asteya/IMG_46964-2.jpg" alt="Krishna" Width =auto height="400">
	<class="button><a href = =https://bookie164.github.io/Asteya/Ireland.html">ok</a></class>
  </body>
</html>
